.pp-gallery {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
.pp-gallery li {
    width: 20%;
}

.pp-gallery img {
    max-width: 400px;
    width: 100%;
}


@media screen AND (max-width: 500px) {
	footer .flex {
		flex-direction: column;
	}

    .pp-gallery li {
        width: 50%;
    }

}
