@media screen and (min-width: 850px) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}

}

@media screen AND (max-width: 850px) {
    input.email {
        width: 10rem;
        margin-right: 10px;
    }

    .menu-toggle {
        float: right;
    }

    .main-navigation .btn {
        width: 100%;
        margin: 0;
    }

    .header-inner {
        justify-content: end;
    }


    .site-title a {
        font-size: 32px;
    }


}



@media screen AND (max-width: 650px) {
    #mc-embedded-subscribe-form {
        flex-direction: column;
        align-items: unset;
    }

    input.email {
        margin: 0 0 10px 0;
        width: 8rem;
    }
}

@media screen AND (max-width: 500px) {
	footer .flex {
		flex-direction: column;
	}

}
