@media screen and (min-width: 850px) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

@media screen AND (max-width: 850px) {
    .menu-toggle {
        float: right;
    }

    .main-navigation .btn {
        width: 100%;
        margin: 0;
    }

    .header-inner {
        justify-content: end;
    }


    .site-title a {
        font-size: 32px;
    }


}

@media screen AND (max-width: 500px) {
	footer .flex {
		flex-direction: column;
	}

}
